*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;

  --fc-tittle: #B52184;
  --fc-text: #312D64;
  --fc-button: #ffffff;
  --fc-footer: #ffffff;

  --bg-header: #F9F4FB;
  --bd-input: #312D64;
}

body{
  margin: 0 auto;
  font-size: 1.6rem;
  font-family: 'Mulish', sans-serif;
  width: 43rem;
}

header{
  display: grid;
  width: 100%;
  grid-template-areas: 
    "a"
    "b"
    "c";
  text-align: center;
  background-color: var(--bg-header);
}

header .header-img{
  width: 100%;
  grid-area: a;
}

header .header-text{
  display: grid;
  width: 100%;
  grid-area: b;

  padding-top: 1.7rem;
  padding-bottom: 3.5rem;
  text-align: center;
}

header .header-button{
  display: grid;
  width: 100%;
  grid-area: c;

  padding-bottom: 9.3rem;
}

header .header-button img{
  transition: all 300ms;
}

header .header-button img:hover{
  scale: 1.1;
}

header .header-img img{
  width: 100%;
}

header .header-text h1{
  font-weight: 900;
  font-size: 3.2rem;
  line-height: 4rem;
  color: var(--fc-tittle);
}

header .header-text p{
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.5rem;
  color: var(--fc-text);
}

.cards{
  display: grid;
  grid-template-areas: 
    "a" 
    "b"
    "c";
  gap: 4.9rem;
  background: linear-gradient(96.21deg, #343193 0%, #302C63 99.68%);
  padding: 5.2rem 3.9rem;
}

.card:nth-child(1){
  grid-area: a;
}

.card:nth-child(2){
  grid-area: b;
}

.card:nth-child(3){
  grid-area: c;
}

.cards .card{
  width: 35.2rem;
  
  background: #FFFFFF;
  box-shadow: 0 .4rem 1.3rem rgba(0, 0, 0, 0.25);
  border-radius: 2rem;
  padding: 2.6rem;
}

.cards .card img{
  width: 8rem;
  height: 8rem;
}

.cards .card h2{
  font-weight: 900;
  font-size: 2.9rem;
  line-height: 3.7rem;
  color: var(--fc-tittle);
  margin: 3.3rem 0 2rem;
}

.cards .card p{
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2rem;
  color: var(--fc-text);
}

.content{
  display: grid;
  width: 100%;
  grid-template-areas: "a";
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;

  background: #F9F4FB;
  padding: 8rem 4rem 6.5rem;
}

.content form{
  grid-area: a;
}

.content form fieldset{
  border: none;
}

.content form fieldset legend{
  color: var(--fc-tittle);
  font-weight: 900;
  font-size: 3.2rem;
  line-height: 4rem;
  margin-bottom: 4rem;
}

.content form fieldset input{
  width: 100%;
  border: .15rem solid var(--bd-input);
  border-radius: 1.6rem;
  padding: 1.6rem 1.6rem 1.6rem 5rem;
  margin-bottom: 3rem;
  color:var(--fc-text);
  font-weight: 600;
  font-size: 1.6rem;
}

.content form fieldset input#name{
  background-image: url(/images/icon-name.svg);
  background-repeat: no-repeat;
  background-position: 1.6rem;
}

.content form fieldset input#email{
  background-image: url(/images/icon-email.svg);
  background-repeat: no-repeat;
  background-position: 1.6rem;
}

.content form fieldset input::placeholder,
.content form fieldset textarea::placeholder
{
  color:var(--fc-text);
  font-weight: 600;
  font-size: 1.6rem;
}

.content form fieldset textarea{
  width: 100%;
  border: .15rem solid var(--bd-input);
  border-radius: 1.6rem;
  margin-bottom: 3rem;
  padding: 1.6rem;
  color:var(--fc-text);
  font-weight: 600;
  font-size: 1.6rem;
}

.content form fieldset button{
  color: var(--fc-button);
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.4rem;
  border-radius: 1.6rem;
  background: linear-gradient(96.21deg, #343193 0%, #302C63 99.68%);
  padding: 1rem 1.6rem;
  border: none;
}

.content form fieldset button:hover{
  background: linear-gradient(96.21deg, #211e7d 0%, #211e4b 99.68%);
  cursor: pointer;
}

footer{
  background: linear-gradient(96.21deg, #343193 0%, #302C63 99.68%);
  padding: 3.2rem 1.6rem;
  text-align: center;
}

footer p{
  color: var(--fc-footer);
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
}


@media(min-width: 1400px){
  body{
    width: 144rem;
  }

  header{
    height: 83.6rem;
    grid-template-areas: 
    "b a"
    "c a";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  header .header-text{
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10.9rem;
    justify-content: left;
    align-content: end;  
    text-align: left;
  }

  header .header-text h1{
    font-weight: 900;
    font-size: 5.8rem;
    line-height: 7.3rem;
  }
  
  header .header-text p{
    font-weight: 600;
    font-size: 3.2rem;
    line-height: 4rem;
  }

  header .header-button{
    justify-content: left;
    align-content: end;
    padding-bottom: 13.6rem;
    padding-left: 10.9rem;
  }

  .cards{
    grid-template-areas: 
    "a b c";
    justify-content: center;
  }

  .cards .card{
    width: 36.6rem;
    padding: 3.2rem 3.2rem 7.2rem;
  }

  .cards .card img{
    width: 9.7rem;
    height: 9.7rem;
  }

  .cards .card h2{
    font-size: 3.5rem;
    line-height: 4.4rem;
    color: var(--fc-tittle);
    margin: 4rem 0 2.4rem;
  }
  
  .cards .card p{
    font-size: 1.9rem;
    line-height: 2.4rem;
    color: var(--fc-text);
  }
  
  .content{
    grid-template-areas: 
    "a b";
    grid-template-columns: 1fr 1fr;
    padding: 0;
  }

  .content form{
    padding: 9.5rem 2rem 9.5rem 10.9rem;
  }

  .stars-bg{
    width: 100%;
    height: 100%;
    grid-area: b;
    background-image: url(/images/stars-bg.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
  }

  .content form fieldset legend{
    font-size: 4.2rem;
    line-height: 5.3rem;
    margin-bottom: 4rem;
  }

}
